.app-hc {
  display: flex;
  justify-content: center;
}
.app-vc {
  display: flex;
  align-items: center;
}
.app-hc-vc {
  display: flex;
  justify-content: center;
  align-content: center;
}
.app-he {
  display: flex;
  justify-content: flex-end;
}
